.container_form{
    display: flex;
    margin: 0 auto; 
    justify-content: center;
}

.container_form form{
    border: 1px solid #3b02c0;
    padding: 40px;
}

form label{
  display: flex;
  padding: 5% 0 2% 0;
}

form input{
    padding: 5px;
    width: 100%;
    outline: none;
    border-radius: 3%;
    border: none;
}

.container_form select{
    padding: 5px;
}

#ClientButton{
    margin: 5%;
    padding: 10px;
    border: none;
    border-radius: 15%;
    text-transform: uppercase;
    font-weight: bolder;
}

#ClientButton:hover{
    cursor: pointer;
    background-color: #008800;
    color: #FFFFFF;
}