Options -Indexes

RewriteEngine On 
# Verifique se o arquivo ou diretório real não existe

RewriteEngine %{REQUEST_FILENAME} !f
RewriteEngine %{REQUEST_FILENAME} !d
# Redirecione tudo para index.php com o parâmetro 'router'

RewriteEngine ^(.*)$ index.php?router=$1 []